In [1]:
#1
n = int(input("Enter number of employees: "))

employees = {}

for i in range(n):
    name = input("Enter employee name: ")
    salary = float(input("Enter salary: "))
    employees[name] = salary

print("Employee Dictionary:")
print(employees)

Enter number of employees:  4
Enter employee name:  aliya
Enter salary:  20
Enter employee name:  zoya
Enter salary:  30
Enter employee name:  zeenat
Enter salary:  10
Enter employee name:  zeba
Enter salary:  22

Employee Dictionary:
{'aliya': 20.0, 'zoya': 30.0, 'zeenat': 10.0, 'zeba': 22.0}

In [2]:
#2
string = input("Enter a string: ")
ch = input("Enter character to count: ")

count = 0

for i in string:
    if i == ch:
        count += 1

print("Character appears", count, "times")

Enter a string:  aliya
Enter character to count:  a

Character appears 2 times

In [3]:
#3
def number_to_words(num):
    words = {
        '0': "Zero",
        '1': "One",
        '2': "Two",
        '3': "Three",
        '4': "Four",
        '5': "Five",
        '6': "Six",
        '7': "Seven",
        '8': "Eight",
        '9': "Nine"
    }
    
    result = ""
    
    for digit in str(num):
        result += words[digit] + " "
    
    return result.strip()

number = input("Enter a number: ")
print(number_to_words(number))

Enter a number:  23

Two Three